<h1>About</h1>
<p>I am Asian and have a typical "Asian face" with a small nose. I've always had diffuculty finding glasses that fit correctly so it was difficult to shop for glasses on-line. My face is a bit wider so most glasses would seem too small. If I get larger glasses, the bottom of the lense frames would be laying on my cheeks rather than on my nose. So I have started this website where Asians like me can find glasses that look great and fit us correctly.</p>
