<br>

<%= image_tag("rawpixel-579251-unsplash.jpg", class: "img-responsive") %>

<div class="panel panel-default">
  <div class="panel-body">
    <p>We have received your message and will respond as soon as possible.</p>
  </div><!-- / panel-body -->
</div><!-- / panel -->
