// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  font-family: Aclonica, sans-serif;
  color: #777777;
  text-align: center;
  margin-top: 70px;
}

/**** Navbar ****/
.site-name {
  font-family: Aclonica, sans-serif;
  font-size: 30px;
}

.site-name a {
  color: white;
}

.nav {
  text-transform: uppercase;
}

.anchor {
  padding-top: 50px;
}

/**** Body ****/
p {
  margin: 40px;
}

h2 {
  font-family: Aclonica, sans-serif;
  color: #777777;
  margin-left: 40px;
}

/**** Contact Page ****/
.form-group {
  width: 300px;
  text-align: center;
  margin-left: 40px;
  background-color: lightblue;
}

.form_label {
  margin-left: 25px;
  text-align: center;
}

/**** Footer ****/
.site-footer {
  height: 20px;
  background-color: black;
}

h4 {
  color: white;
}
