// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#signup {
  text-align: center;
}

h3 {
  font-family: Aclonica, sans-serif;
  color: #777777;
}

#login {
  text-align: center;
}
